[submodule "HeatMapApp/libs/LFHeatMap"]
	path = HeatMapApp/libs/LFHeatMap
	url = https://github.com/gpolak/LFHeatMap.git
[submodule "HeatMapApp/libs/SIOSocket"]
	path = HeatMapApp/libs/SIOSocket
	url = https://github.com/MegaBits/SIOSocket.git
[submodule "HeatMapApp/libs/ios-charts"]
	path = HeatMapApp/libs/ios-charts
	url = https://github.com/danielgindi/Charts.git
